<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQtoSQL.Properties.Settings.FilmoviDBConnectionString"
            connectionString="Data Source=DESKTOP-RAAFFPD;Initial Catalog=FilmoviDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>